<form *ngIf="showAddPassword" action="" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Password</label>
        <input type="text" name="text" id="text" placeholder="Add Password" [(ngModel)]="text"/>
    </div>
    <div class="form-control">
        <label for="account">Account Name</label>
        <input type="text" name="account" id="account" placeholder="Account Name (eg Netflix)" [(ngModel)]="account"/>
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="reminder"/>
    </div>
    <input type="submit" value="Save Password" class="btn btn-block" />
</form>
